<h1>id: <%= @tasks.id %> のタスク編集ページ</h1>

<%= link_to 'このタスクを編集する', edit_task_path(@tasks), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>